.custom_class {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.custom_class table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.custom_class table th,
.custom_class table td {
    padding: 12px 15px;
}

.custom_class table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.custom_class table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.custom_class table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.custom_class table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.custom_class table thead > tr > th:nth-child(4) {
    width: 150px;
    text-align: center;
}